.wrapper-one-auto {
  display: flex;
  width: 31%;
  height: 200px;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 7px;
  margin: 5px 5px 15px 5px;
  color: white;
}
.wrapper-one-auto img {
  position: absolute;
  z-index: 0;
  height: 200px;
  border-radius: 7px;
  width: 28%;
}
.wrapper-one-auto .wrapper-title-price {
  z-index: 1;
}
.wrapper-one-auto .wrapper-title-price .title-car {
  font-size: 16px;
  padding-left: 5px;
}
.wrapper-one-auto .wrapper-title-price .wrapper-price {
  display: flex;
  align-items: center;
  padding: 5px;
}
.wrapper-one-auto .wrapper-title-price .wrapper-price .price-usd {
  font-size: 12px;
  padding: 5px;
  color: gray;
}
